body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f2994a, #2a5298, #1e3c72);
=======
    background: linear-gradient(to bottom, #02095d,#0a1487 , #fafbfd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center; 
>>>>>>> cdbe90a57cb96d3ec3f3ad8f829a93dd64ce5121
}
.welcome-back {
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: 80px !important; /* Taille de police beaucoup plus grande */
    margin: 0;
    font-weight: bold;
    text-align: right; /* Aligner le texte à droite */
}

.welcome {
    display: block; /* Faire en sorte que "Welcome" soit au-dessus de "Back" */
}









.container {
    display: flex;
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.left-section {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
    color: white;
    position: relative;
}

.logo {
    width: 300px;
    margin-top: 20px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    width: 20%;
    border: 1px solid white;
}

.or-line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: orange;
    margin: 0 10px;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-top: -200px;
    margin-bottom: 20px;
}

.social-icon {
    width: 70px;
    cursor: pointer;
    border-radius: 50px;
}

.left-section p {
    font-size: 14px;
    margin-bottom: 20px;
}
.right-section h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.left-section a {
    color: white;
    text-decoration: none;
}

.right-section {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 20px 20px 0;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-field {
    width: 90%;
    padding: 30px 45px; /* Augmenter le padding pour agrandir l'input */
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 25px; /* Augmenter la taille du texte à l'intérieur de l'input */
}


.input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.user-icon i {
    font-size: 18px;
}

.lock-icon i {
    font-size: 18px;
}

.login-btn {
    background-color: #ffcc00;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    color: #333;
}

.forgot-password {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
