body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f2994a, #2a5298, #1e3c72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.container h1 {
  margin-bottom: 20px;
}

.container input[type="email"] {
  padding: 15px;
  border: none;
  border-radius: 20px;
  margin: 20px auto;
  width: calc(100% - 20px);
  text-align: center;
}

.container button { padding: 10px 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f2994a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.container button:hover {
     background-color: #f2994a; /* Changer la couleur de fond au survol */ 
     color: white; /* Changer la couleur du texte au survol */
}
.container button:active { transform: translateY(5px); /* Effet enfoncé */ 
    box-shadow: 0 2px 4px rgba(240, 98, 4, 0.2); /* Réduction de l'ombre */
}
.container p {
  font-size: 12px;
  color: rgb(7, 7, 116);
  margin: 10px 0;
}