<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdpo.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='DarkLight.js') }}" defer></script>
</head>

<body>
    <div class="container">
        <h1>Find Your Account &&&&#x1F928;</h1>
        <p>Enter your email address below.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('reset') }}" method="post">
            <input type="email" name="email" placeholder="Email address" required>
            <p>You may receive notifications from us on your email for security and login purposes.</p>
            <button type="submit">Continue</button>
        </form>
        <p class="note">Need help? <a href="mailto:zakaria1234fb@gmail.com">Contact Support</a></p>
        <p class="note">OR? <a href="{{ url_for('index') }}">Back to Login</a></p>
    </div>
</body>

</html>